@use './utilities/' as *;

.upperBox,
.bottomBox,
.reply,
.delete,
.edit,
.ownButtons,
.downBox {
	display: flex;
}

.box,
.insdieReplyBox,
.commentBox,
.textarea {
	padding: 1em;
}

.box {
	margin-bottom: 1em;
	background-color: $white;
	border-radius: 0.5em;
}

.upperBox,
.bottomBox {
	align-items: center;
	column-gap: 1em;
}

.avatar {
	display: block;
	width: 10%;
}

.nick {
	color: $dark-blue;
	font-weight: $weight-500;
}

.time,
.desc {
	color: $grayish-blue;
}

.desc {
	margin: 0.9em 0;
	line-height: 1.5;
}

.bottomBox {
	min-width: 5.5em;
	justify-content: space-between;
}

.btnsBox {
	background-color: $light-gray;
	border-radius: 0.7em;
}

.leftBtn,
.votes,
.rightBtn {
	padding: 0.5em;
	font-weight: $weight-500;
	color: $moderate-blue;
	font-size: 1.7rem;
}

.votes {
	display: inline-block;
	user-select: none;
}
.leftBtn,
.rightBtn {
	color: $grayish-blue;
}

.replyIcon {
	margin-top: 0.2em;
	margin-right: 0.3em;
}

.reply {
	align-items: center;
	font-size: 1.6rem;
	font-weight: $weight-500;
	color: $moderate-blue;
}

.mainReplyBox {
	margin-left: auto;
	border-left: 2px solid $light-grayish-blue;
}

.insdieReplyBox {
	width: 93%;
	border-radius: 0.5em;
	margin-left: auto;
	background-color: $white;
	margin-bottom: 1em;
}

.calledUser {
	color: $moderate-blue;
	font-weight: $weight-500;
}

.you {
	padding: 0.2em 0.6em;
	border-radius: 0.2em;
	background-color: $moderate-blue;
	color: $white;
	font-size: 1.2rem;
	font-weight: $weight-500;
}

.ownButtons {
	column-gap: 1.2em;
}

.delete,
.edit {
	align-items: center;
	column-gap: 0.3em;
	font-weight: $weight-500;
	font-size: 1.6rem;
}

.delete {
	color: $soft-red;
}

.edit {
	color: $moderate-blue;
}

.commentBox {
	background-color: $white;
	border-radius: 0.5em;
}

.textarea {
	width: 100%;
	min-height: 6.25em;
	max-height: 6.25em;
	border: 1px solid $light-gray;
	border-radius: 0.5em;
	overflow: scroll;
}

.downBox {
	margin-top: 1em;
	align-items: center;
	justify-content: space-between;
}

.send {
	padding: 0.6em 1.5em;
	color: $white;
	text-transform: uppercase;
	font-size: 1.6rem;
	background-color: $moderate-blue;
	border-radius: 0.5em;
}

.disableVote {
	pointer-events: none;
	cursor: default;
}
