@use './colors' as *;
@use './fonts' as *;

@mixin voteBtns {
	.btnsBox {
		background-color: $light-gray;
		border-radius: 0.7em;
	}

	.leftBtn,
	.votes,
	.rightBtn {
		padding: 0.5em;
		font-weight: $weight-500;
		color: $moderate-blue;
		font-size: 1.7rem;
	}

	.votes {
		display: inline-block;
		user-select: none;
	}
	.leftBtn,
	.rightBtn {
		color: $grayish-blue;
	}

	.disableVote {
		pointer-events: none;
		cursor: default;
	}
}

@mixin mainBox {
	
}
