@use './fonts' as *;

@mixin voteBtns {
	.btnsBox {
		background-color: var(--light-gray);
		border-radius: 0.7em;
		transition: background-color var(--transition-time);
	}

	.leftBtn,
	.votes,
	.rightBtn {
		padding: 0.5em;
		font-weight: $weight-500;
		color: var(--moderate-blue);
		font-size: 1.7rem;
		transition: color var(--transition-time);
	}

	.votes {
		display: inline-block;
		user-select: none;
	}
	.leftBtn,
	.rightBtn {
		color: var(--grayish-blue);
		transition: color var(--transition-time);
	}

	.disableVote {
		pointer-events: none;
		cursor: default;
	}
}

@mixin mainBox {
	.upperBox,
	.bottomBox,
	.reply {
		display: flex;
	}

	.nick {
		color: var(--dark-blue);
		font-weight: $weight-500;
	}

	.time,
	.desc {
		color: var(--grayish-blue);
		transition: color var(--transition-time);
	}

	.desc {
		margin: 0.9em 0;
		line-height: 1.5;
	}
	.bottomBox {
		min-width: 5.5em;
		justify-content: space-between;
		align-items: center;
		column-gap: 1em;
	}

	.reply {
		align-items: center;
		font-size: 1.6rem;
		font-weight: $weight-500;
		color: var(--moderate-blue);
		transition: color var(--transition-time)
	}

	.replyIcon {
		margin-top: 0.2em;
		margin-right: 0.3em;
	}
}
